---

import PageLayout from "@/layouts/Base";

const meta = {
	title: "About",
	description: "Description about Bliss!",
};
---

<PageLayout meta={meta}>
 <p>A little description about me.</p>
</PageLayout>
